{{define "radio-group"}}
<div class="form-group">
    {{if .Label}}
    <fieldset>
        <legend class="form-label {{if .Required}}required{{end}}">
            {{.Label}}
            {{if .Required}}<span class="required-indicator">*</span>{{end}}
        </legend>
        {{end}}
        <div class="radio-group {{if .Inline}}radio-group-inline{{end}}">
            {{range .Options}}
            <div class="form-check {{if $.Inline}}form-check-inline{{end}}">
                <input 
                    type="radio" 
                    id="{{$.ID}}_{{.Value}}" 
                    name="{{if $.Name}}{{$.Name}}{{else}}{{$.ID}}{{end}}" 
                    value="{{.Value}}"
                    class="form-check-input {{if $.ValidationState}}is-{{$.ValidationState}}{{end}}"
                    {{if eq .Value $.Value}}checked{{end}}
                    {{if $.Required}}required{{end}}
                    {{if .Disabled}}disabled{{end}}
                    {{range $key, $value := $.Attributes}}{{$key}}="{{$value}}" {{end}}
                >
                <label for="{{$.ID}}_{{.Value}}" class="form-check-label">
                    {{.Text}}
                </label>
            </div>
            {{end}}
        </div>
        {{if .Label}}
    </fieldset>
    {{end}}
    {{if .HelpText}}
    <div class="form-text">{{.HelpText}}</div>
    {{end}}
    {{if .ValidationMessage}}
    <div class="{{if eq .ValidationState "valid"}}valid-feedback{{else}}invalid-feedback{{end}}">
        {{.ValidationMessage}}
    </div>
    {{end}}
</div>
{{end}}